body{margin: 0;
padding: 0;
      background-image:url("zbyszekeminem.jpg");
            background-size:100vw 100vh;
            background-repeat: no-repeat;
}




top{
    height: 30vh;
    width: 100vw;
    
   background-color:#041643;
    opacity:50%;
}



mid{
    height: 70vh;
    width: 70vw;
    
   background-color:#041643;
    opacity:50%;
}